{% extends 'base.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
    <h1>Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.prix }}</td>
                <td>{{ livraison.contenu }}</td>
                <td>
                    <a href="{{ path('livraison_show', {'id': livraison.id}) }}">show</a>
                    <a href="{{ path('livraison_edit', {'id': livraison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livraison_new') }}">Create new</a>
{% endblock %}
