{% extends 'base.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
    <h1>Repertoire des livraisons</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.prix }}</td>
                <td>{{ livraison.contenu }}</td>
                <td>
                    <a class="btn btn-primary"  href="{{ path('livraison_show', {'id': livraison.id}) }}">voir</a>
                    <a class="btn btn-primary"  href="{{ path('livraison_edit', {'id': livraison.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucune livraison</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('livraison_new') }}">Nouvelle livraison</a>
{% endblock %}
