{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Repertoire de clients</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.adresse }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('client_show', {'id': client.id}) }}">voir</a>
                    <a class="btn btn-primary" href="{{ path('client_edit', {'id': client.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun client</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('client_new') }}">Nouveau client</a>
{% endblock %}
