{% extends 'base.html.twig' %}

{% block title %}Affichage d'un client{% endblock %}

{% block body %}
    <h1>Voici le client choisi</h1>

    <table class="table">
        <tr>
            <th scope="row">Numero</th>
            <td>{{ client.id }}</td>
        </tr>
        <tr>
            <th scope="row">Nom</th>
            <td>{{ client.nom }}</td>
        </tr>
        <tr>
            <th scope="row">Adresse</th>
            <td>{{ client.adresse }}</td>
        </tr>
        <tr>
            <th scope="row">Commandes</th>
            <td>

                {% for commande in client.commandes %}
                    <div class="my-2">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal-{{ commande.id }}">
                            Commande {{ commande.id }}
                        </button>
                    </div>
                {% endfor %}
            </td>
        </tr>
    </table>

    {% for commande in client.commandes %}

        <div class="modal fade" id="myModal-{{ commande.id }}">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h5>Commande numero {{ commande.id }}</h5>
                        <button type="button" class="close" data-dismiss="modal">×</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">

                        <table class="table table-sm">
                            <tr>
                                <th scope="row">Prix</th>
                                <td>{{ commande.prix }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Contenu</th>
                                <td>{{ commande.contenu }}</td>
                            </tr>
                        </table>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>





    {% endfor %}
{% endblock %}
